html {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

.boton {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    border: 5px solid black;
    text-align: center;
}

.animacion:hover {
    height: 10.5rem;
    width: 10.5rem;
    color: lightblue;
    transition: ease-in-out 0.5;
}

.boton > svg {
    height: 8rem;
    width: 8rem;
    filter: drop-shadow(
        0 0 10px rgba(0,0,0, .8)
    )
}

.botones {
    position: fixed;
    height: 30dvh;
    width: 100dvw;
    bottom: 0px;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

/* ################################################################ */

.boton-piedra {
    background: salmon;
}
.boton-papel {
    background-color: yellow;
}

.boton-tijeras {
    background-color: aquamarine;
}

/* ################################################################## */

.resultado {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    height: 35dvh;
}
h3 {
    text-align: center;
}
h2 {
    text-align: center;
    border: 3px solid black;
}
.ganador {
    font-size: xx-large;
    font-weight: bolder;
    background: linear-gradient(#09f, #fff);
}
.perdedor {
    font-size: xx-large;
    font-weight: bolder;
    background: #be5151;
    color: white;
}